<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bysj.mapper.UserMapper">

    <resultMap type="com.ruoyi.bysj.domain.User" id="UserResult">
        <result property="userId" column="user_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="deptName" column="dept_name"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="userType" column="user_type"/>
        <result property="email" column="email"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="introduce" column="introduce"/>
        <result property="stars" column="stars"/>
        <result property="rank" column="rank"/>
        <result property="oderNum" column="oder_num"/>
    </resultMap>

    <sql id="selectUserVo">
        SELECT * FROM bs.sys_user
    </sql>

    <select id="selectUser" parameterType="String" resultMap="UserResult">
         SELECT * FROM bs.sys_user where phonenumber = #{phonenumber}
    </select>

    <select id="getDoList" parameterType="String" resultMap="UserResult">
         SELECT bs.sys_user.*,atable.dept_name
         FROM bs.sys_user join
         ((SELECT * FROM bs.sys_dept where ancestors like '0,100,211,%') as atable )
         on  atable.dept_id=bs.sys_user.dept_id
         order by bs.sys_user.stars DESC
         limit 12;
    </select>

    <select id="docListInA" parameterType="Long" resultMap="UserResult">
         SELECT *
         FROM bs.sys_user where dept_id = #{deptId}
         order by bs.sys_user.stars DESC
    </select>

</mapper>
